body{
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

sem-body {
    background-color: #dfa047;
}

.sem-header{
    background-color: #703a0f;
    color: #fff;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 9999;
}

.sem-header img{
    max-height: 70px;
    margin-left: 60px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.sem-menu-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}

.sem-menu-col a{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.sem-menu-col:not(:first-child):hover{
    color: #703a0f;
    background-color: #f7ae42;
    cursor: pointer;
}

.sem-menu-col:not(:first-child):hover a {
    color: #703a0f;
}

.sem-social {
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.8em;
}

.sem-social .contrast:hover {
    cursor: pointer;
}

.sem-social .font-size:hover {
    cursor: pointer;
}

.sem-social span span:first-of-type {
    font-size: 1.4em;
}

.sem-social img{
    margin-left: 5px;
    max-height: 30px;
 }

.sem-social .acessibility {
    margin-left: -30px;
    max-height: 20px;
}

.sem-banner {
    border-top: solid 4px #f7ae42;
    background-color: #f7ae42;
    /*padding-top: 4px;*/
    width: 100%;
}

.sem-about {
    padding-top: 3%;
    padding-bottom: 6%;
    background-color: #f7ae42;
    color: #703a0f;
}
.sem-about .sem-caption{
    text-align: center;
    font-weight: bold;
}

.sem-about .sem-text {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    line-height: 200%;
    text-align: justify;
}

.sem-event {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 200%;
    background-color: #fcf6d2;
    color: #703a0f;
}

.sem-event .sem-caption {
    font-weight: bold;
    color: #e88a0c;
    margin-bottom: 3%;
}
.sem-event .sem-text {
    padding-top: 2%;
    padding-bottom: 2%;
}

.sem-event .sem-event-item {
    line-height: 150%;
}

.sem-event .sem-event-item strong {
    color: #f68e00;
}

.sem-event .sem-event-item strong span, .sem-event .sem-event-item-right strong span {
    font-size: 1.2em;
}

.sem-event .sem-event-item-right {
    text-align: right;
    line-height: 150%;
}

.sem-util{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 200%;
    background-color: #703a0f;
    color: #fcf6d2;
}

.sem-util h2{
    margin-bottom: 3%;
}

.sem-util-map {
    padding: 0;
}

.sem-util-map iframe {
    margin-bottom: 3%;
    width: 40%;
    height: 400px;
}

.sem-footer {
    padding-top: 3%;
    padding-bottom: 2%;
    line-height: 200%;
    background-color: #ddcea3;
    color: #703a0f;
    word-wrap: break-word;
}

.sem-footer a {
    color: #703a0f;
}

.sem-footer .sem-logo{
    margin-top: auto;
}

.sem-logo img {
    width: 100%;
}

.sem-credits {
    text-align: center;
    background-color: #703a0f;
    color: #fcf6d2;
    padding-top: 1%;
    padding-bottom: 1%;
}
